.button {
  position: relative;
  display: inline-flex;
  &_style-1 {
    padding-left: 40px;
    color: #fff;
    line-height: 32px;
    text-decoration: none;
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background-color: #D9D9D9;
      position: absolute;
      left: 0;
      top: 10px;
      transition: background-color $trs1, box-shadow $trs1;
    }
    &[data-touch], &[data-hover] {
      &::before {
        background-color: #fff;
        box-shadow: 0px 0px 21px 7px #fff;
      }
    }
  }
  &_style-2 {
    min-width: 140px;
    color: #fff;
    line-height: 56px;
    padding: 0 40px;
    border-radius: 9px;
    box-shadow: 0px 15px 40px rgba(190, 22, 34, 0.5);
    background: linear-gradient(90deg, #E13541 0%, #BE1622 100%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    text-align: center;
    transition: box-shadow $trs1;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: opacity $trs1;
      opacity: 0;
    }
    &::before {
      background: linear-gradient(90deg, #FF5965 0%, #FE2232 100%);
      z-index: 1;
    }
    &::after {
      background: linear-gradient(90deg, #88222b 0%, #78141B 100%);
      z-index: 2;
    }
    span {
      position: relative;
      z-index: 3;
    }
    &[data-touch], &[data-hover] {
      box-shadow: 0px 15px 40px rgba(255, 89, 101, 0.5);
      &::before {
        opacity: 1;
      }
    }
    &[data-focus] {
      box-shadow: 0px 15px 40px rgba(190, 22, 34, 0.5);
      &::after {
        opacity: 1;
      }
    }
  }
  &_style-3 {
    line-height: 54px;
    border-width: 1px;
    border-style: solid;
    padding: 0 39px;
    border-radius: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    text-align: center;
    transition: background-color $trs1;
    border-color: #5B5B5B;
    color: #fff;
    text-decoration: none;
    &[data-touch], &[data-hover] {
      background-color: #919191;
    }
    &[data-focus] {
      background-color: #5B5B5B;
    }
  }
  &_loader {
    span, svg {
      transition: opacity $trs1;
    }
    svg {
      position: absolute;
      height: 10px;
      width: 60px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      color: inherit;
      opacity: 0;
    }
    &.loading {
      pointer-events: none;
      span {
        opacity: 0;
      }
      svg {
        opacity: 1;
      }
    }
  }

  &_style-4 {
    align-items: center;
    .icon {
      width: 68px;
      height: 68px;
      border-radius: 68px;
      margin-left: 22px;
      box-shadow: 0px 15px 40px rgba(190, 22, 34, 0.5);
      background: linear-gradient(90deg, #E13541 0%, #BE1622 100%);
      transition: box-shadow $trs1;
      position: relative;
      svg {
        width: 24px;
        height: 24px;
        color: #fff;
        position: absolute;
        z-index: 3;
        top: 22px;
        right: 18px;
      }
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: inherit;
        transition: opacity $trs1;
        opacity: 0;
      }
      &::before {
        background: linear-gradient(90deg, #FF5965 0%, #FE2232 100%);
        z-index: 1;
      }
      &::after {
        background: linear-gradient(90deg, #88222b 0%, #78141B 100%);
        z-index: 2;
      }
    }
    &[data-touch], &[data-hover] {
      .icon {
        box-shadow: 0px 15px 40px rgba(255, 89, 101, 0.5);
        &::before {
          opacity: 1;
        }
      }
    }
    &[data-focus] {
      .icon {
        box-shadow: 0px 15px 40px rgba(190, 22, 34, 0.5);
        &::after {
          opacity: 1;
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    &_style-1 {
      padding-left: 30px;
    }
    &_style-4 {
      .icon {
        width: 54px;
        height: 54px;
        border-radius: 54px;
        svg {
          top: 15px;
          right: 12px;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &_style-2 {
      line-height: 50px;
      padding: 0 30px;
    }
    &_style-3 {
      padding: 0 29px;
      line-height: 48px;
    }
  }
}

.btn-link {
  display: inline-block;
  transition: opacity $trs1;
  span {
    transition: border-color $trs1, color $trs1;
    border-bottom: 1px solid transparent;
  }
  &[data-touch], &[data-hover], &.is-active-page {
    span {
      border-color: currentColor;
      color: #fff;
    }
  }
  &[data-focus] {
    opacity: 0.8;
    span {
      border-color: transparent;
    }
  }
}