img {
  display: block;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}

//images
.image {
  display: block;
  position: relative;
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.logo {
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

.splide {
  &__pagination {
    display: flex;
    justify-content: center;
    li {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
    button {
      width: 32px;
      height: 32px;
      padding: 12px;
      margin: -12px;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: var(--color-muted);
        transition: background-color $trs1, transform $trs1;
      }
      &[data-touch], &[data-hover] {
        &::before {
          transform: scale(1.75);
        }
      }
      &.is-active {
        pointer-events: none;
        &::before {
          background-color: var(--color-text);
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__pagination {
      li {
        &:not(:last-child) {
          margin-right: 14px;
        }
      }
      button {
        width: 26px;
        height: 26px;
        padding: 10px;
        margin: -10px;
      }
    }
  }
}

.scrollbar-track-y {
  background-color: transparent;
  padding: 9px 3px;
  width: 9px;
  z-index: 2000;
  transition: opacity $trs2;
  transition-delay: .5s;
  .scrollbar-thumb {
    cursor: pointer;
    width: inherit;
    padding: inherit;
    background-color: transparent;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background-color: var(--color-scrollbar);
      pointer-events: none;
    }
  }
}

.js-3d {
  position: relative;
  transform: translateZ(1000px);
  transform-style: preserve-3d;
  &__back,
  &__forward {
    position: relative;
  }
  &__back {
    z-index: 1;
    transform: perspective(500px);
  }
  &__forward {
    z-index: 2;
    transform: perspective(500px) translateZ(100px) scale(0.8);
  }
}

.bg-light {
  position: absolute;
  &_size-1 {
    width: 300px;
    height: 300px;
  }
  &_size-2 {
    width: 700px;
    height: 700px;
  }
  &_size-3 {
    width: 1200px;
    height: 1200px;
  }
  &_color-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(190, 22, 34, 0.34) 0%, rgba(190, 22, 34, 0) 100%);
  }
  &_color-2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(190, 22, 34, 0.22) 0%, rgba(190, 22, 34, 0) 100%);
  }
  &_color-3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
  }
  &_color-4 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}