img {
  display: block;
  user-select: none;
  pointer-events: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}

//images
.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
  &_mask-1 {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(14, 14, 14, 0.7);
      pointer-events: none;
    }
  }
  &_mask-2 {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(14, 14, 14, 0.9);
      pointer-events: none;
    }
  }
}

.mouse-icon {
  width: 28px;
  height: 48px;
  border-radius: 28px;
  border: 1px solid #565656;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.7);
    top: 8px;
    left: 10px;
    animation: mouse 1s linear infinite;
  }
}

@keyframes mouse {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(8px);
  }
}

.logo {
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

.cursor {
  position: fixed;
  z-index: 10000;
  pointer-events: none;
  transition: opacity $trs2;
  &.hidden {
    opacity: 0;
  }
  &.focus {
    .cursor-slide {
      &::before {
        border-color: var(--color-grayish);
        width: 12px;
        height: 12px;
      }
    }
  }
  &.slide {
    .cursor-slide {
      opacity: 1;
      visibility: visible;
    }
  }
  &-slide {
    display: flex;
    justify-content: space-between;
    width: 70px;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs1, visibility $trs1;
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border: 2px solid var(--color-gray);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: width $trs1, height $trs1, border-color $trs1;
    }
    .icon {
      width: 16px;
      height: 16px;
      color: var(--color-gray);
      &:first-child {
        transform: rotate(180deg);
      }
    }
  }
}

.splide {
  &__arrows {
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  &__arrow {
    pointer-events: all;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    transition: opacity $trs1;
    margin: -13px -14px;
    fill: currentColor;
    svg {
      display: block;
      width: 22px;
      height: 22px;
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      opacity: 0.7;
    }
    &--prev {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    li {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
    button {
      width: 32px;
      height: 32px;
      padding: 12px;
      margin: -12px;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #5B5B5B;
        transition: background-color $trs1, transform $trs1;
      }
      &[data-touch], &[data-hover] {
        &::before {
          transform: scale(1.75);
        }
      }
      &.is-active {
        pointer-events: none;
        &::before {
          background-color: #FFF;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__pagination {
      li {
        &:not(:last-child) {
          margin-right: 14px;
        }
      }
      button {
        width: 26px;
        height: 26px;
        padding: 10px;
        margin: -10px;
      }
    }
  }
}

.swiper {
  position: relative;
  &-lazy {
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs3, visibility $trs3;
    &-loaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &-wrapper {
    transition-timing-function: ease;
  }
  &-pagination {
    display: flex;
    height: 8px;
    &-bullet {
      &:first-child {
        margin-left: -9px;
      }
      &:last-child {
        margin-right: -9px;
      }
      margin-top: -9px;
      width: 26px;
      height: 26px;
      padding: 9px;
      border-radius: 13px;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #5B5B5B;
        transition: background-color $trs1, transform $trs1;
      }
      &[data-touch], &[data-hover] {
        &::before {
          transform: scale(1.75);
        }
      }
      &-active {
        pointer-events: none;
        &::before {
          background-color: #FFF;
        }
      }
    }
  }
  &-button {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: #0E0E0E;
    transition: opacity $trs1;
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    margin: -24px -16px 0 -16px;
    z-index: 2;
    .icon {
      width: 22px;
      height: 22px;
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      opacity: 0.7;
    }
    &-next {
      right: 0;
    }
    &-prev {
      left: 0;
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

.scrollbar-track-y {
  background-color: transparent;
  padding: 9px 3px;
  width: 9px;
  z-index: 2000;
  transition: none;
  opacity: 1;
  .scrollbar-thumb {
    cursor: pointer;
    width: inherit;
    padding: inherit;
    background-color: transparent;
    opacity: 0;
    transition: opacity $trs2;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background-color: var(--color-scrollbar);
      pointer-events: none;
    }
  }
  &[data-hover], &[data-hover], &.show {
    &:not(.hidden) {
      .scrollbar-thumb {
        opacity: 1;
      }
    }
  }
}

.dev-label {
  font-size: 0.875rem;
  span {
    color: var(--color-muted);
  }
  a {
    font-size: 0;
    display: inline-block;
    transform: translateY(7%);
    border: none;
    color: var(--color-grayish);
  }
  svg {
    width: 90px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 0.75rem;
    a {
      transform: translateY(10%);
    }
    svg {
      width: 84px;
    }
  }
}

.js-3d {
  position: relative;
  transform: translateZ(1000px);
  transform-style: preserve-3d;
  &__back,
  &__forward {
    position: relative;
  }
  &__back {
    z-index: 1;
    transform: perspective(500px);
  }
  &__forward {
    z-index: 2;
    transform: perspective(500px) translateZ(100px) scale(0.8);
  }
}

.lights-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.bg-light {
  position: absolute;
  &_size-1 {
    width: 1200px;
    height: 1200px;
  }
  &_size-2 {
    width: 700px;
    height: 700px;
  }
  &_size-3 {
    width: 300px;
    height: 300px;
  }
  &_color-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(190, 22, 34, 0.27) 0%, rgba(190, 22, 34, 0) 100%);
  }
  &_color-2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  @include media-breakpoint-down(lg) {
    &_size-1 {
      width: 1000px;
      height: 1000px;
    }
    &_size-2 {
      width: 600px;
      height: 600px;
    }
    &_size-3 {
      width: 200px;
      height: 200px;
    }
  }
}

.desktop [data-cursor-slide] {
  .image img {
    transition: opacity $trs3, visibility $trs3, transform $trs2;
    transform: scale(1.05);
  }
  &[data-focus] {
    .image img {
      transform: scale(1.01);
    }
  }
}