.footer {
  flex-shrink: 0;
  background-color: var(--color-dark);
  padding: 44px 0 38px 0;
  color: var(--color-footer);
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: flex-end;
  }
  &__logo {
    display: block;
    margin-right: 60px;
    img {
      display: block;
      width: 48px;
      height: auto;
    }
  }
}