.header {
  position: fixed;
  z-index: 1001;
  width: 100%;
  top: -1px;
  .container {
    position: initial;
  }
  &_fixed:not(.header_nav-opened) {
    .header__bg {
      opacity: 1;
    }
    .header__container {
      height: 70px;
    }
  }
  &__bg {
    background: var(--color-back-no-blur);
    transition: opacity $trs3;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    transition: height $trs3, opacity $trs3;
    position: relative;
  } 
  &__logo {
    width: 178px;
    height: auto;
    position: relative;
    z-index: 2;
  }
  &-nav {
    z-index: 2;
    &__list {
      display: flex;
      margin: 0 -25px 0 0;
    }
    &__item {
      position: relative;
    }
    &__link {
      font-size: 1rem;
      line-height: 20px;
      padding: 18px 25px 17px 25px;
      display: block;
      color: #fff;
      span {
        transition: border-color $trs1, opacity $trs1;
        border-bottom: 1px solid transparent;
      }
      &[data-touch], &[data-hover], &.is-active-page {
        span {
          border-color: currentColor;
        }
      }
      &[data-focus] {
        span {
          opacity: 0.8;
          border-color: transparent;
        }
      }
    }
    &__toggle-content {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 20px 0 30px 0;
      background: var(--color-back-no-blur);
      box-shadow: $inset_shadow;
      width: 280px;
      border-radius: 20px;
      font-size: 0.875rem;
      visibility: hidden;
      opacity: 0;
      transition: opacity $trs2, visibility $trs2;
      &.is-active {
        opacity: 1;
        visibility: visible;
      }
      span {
        color: var(--color-gray);
        padding: 0 25px;
        display: block;
        margin-bottom: 10px;
      }
    }
    &__toggle-content-list {
      ul {
        margin-bottom: 15px;
        .header-nav__toggle-content-link {
          padding-left: 70px;
          padding-right: 45px;
          position: relative;
          .icon {
            position: absolute;
            height: 20px;
            width: 30px;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &__toggle-content-link {
      display: block;
      padding: 6px 25px;
      transition: background-color $trs1;
      &[data-touch], &[data-hover], &.is-active-page {
        background-color: var(--color-dark);
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    &__container {
      height: 110px;
    }
  }
  @include media-breakpoint-down(xl) {
    &-nav {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &_fixed:not(.header_nav-opened) {
      .header__container {
        height: 60px;
      }
    }
    &__container {
      height: 80px;
    }
    &__logo {
      width: 130px;
    }
  }
}

.nav-toggle {
  width: 56px;
  height: 56px;
  display: flex;
  margin: -11px;
  z-index: 4;
  span {
    margin: auto;
    width: 34px;
    height: 3px;
    background-color: currentColor;
    position: relative;
    transition: background-color $trs3;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: currentColor;
      transition: transform $trs3;
    }
    &::after {
      top: 9px;
    }
    &::before {
      bottom: 9px;
    }
  }
  &.active {
    span {
      background-color: transparent;
      &::after {
        transform: translateY(-9px) rotate(45deg);
      }
      &::before {
        transform: translateY(9px) rotate(-45deg);
      }
    }
  }
  @include media-breakpoint-up(xl) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    width: 50px;
    height: 50px;
    margin: -10px;
    span {
      width: 30px;
      height: 2px;
      &::after {
        top: 8px;
      }
      &::before {
        bottom: 8px;
      }
    }
    &.active {
      span {
        &::after {
          transform: translateY(-8px) rotate(45deg);
        }
        &::before {
          transform: translateY(8px) rotate(-45deg);
        }
      }
    }
  }
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-back-no-blur);
    cursor: pointer;
  }
  &__container {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-main-bg);
    height: 100%;
    box-sizing: content-box;
    &:not([data-scrollbar='true']) {
      overflow: auto;
    }
    .scroll-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__block {
    width: 380px;
    padding: 0 0 60px 50px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
  }
  &__list {
    flex: 1 1 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__sub-items {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 5px;
    ul {
      margin-bottom: 25px;
      margin-top: 0;
    }
  }
  &__sub-item {
    padding-left: 20px;
    color: #919191;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .nav__sub-item {
      padding: 0;
      .nav__sub-link {
        position: relative;
        padding-left: 45px;
        .icon {
          position: absolute;
          height: 20px;
          width: 30px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__sub-link {
    color: #D9D9D9;
  }
  .dev-label {
    flex: 0 0 auto;
  }
  
  @include media-breakpoint-up(lg) {
    .nav__link {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-up(xl) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    &__container {
      width: calc(100% - 76px) !important;
      padding-right: $mobile-container-padding-x;
      box-sizing: border-box;
      min-width: 260px;
    }
    &__block {
      width: 100%;
      padding: 0 0 40px 40px;
    }
    &__list {
      padding: 60px 0;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    &__sub-items {
      li {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

.backdropfilter {
  .header__bg, .header-nav__toggle-content, .nav__bg {
    background: var(--color-back-blur);
    backdrop-filter: $blur;
  }
}