.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color-main-bg);
}
.content {
  &[data-scrollbar="true"] {
    height: 100vh;
  }
}
.main {
  flex: 1 1 100%;
  overflow: hidden;
}
.section {
  margin: 0 0 280px 0;
  &__head {
    margin-bottom: 150px;
    &-title {
      margin: -0.25em 0 -0.15em 0 !important;
      display: block;
    }
  }
  @include media-breakpoint-down(xxl) {
    margin: 0 0 200px 0;
  }
}


@include media-breakpoint-down(sm) {
  .container {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}