.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color-main-bg);
  &.disabled {
    pointer-events: none;
  }
}

.content {
  &[data-scrollbar="true"] {
    height: 100vh;
    .scroll-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &:not([data-scrollbar="true"]) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.main {
  flex: 1 1 100%;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 2;
}

.small-section {
  margin: 0 0 120px 0;
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(lg) {
    &__title {
      margin: 0 0 30px 0;
      padding-left: $grid-gutter-width;
    }
  }
  @include media-breakpoint-down(lg) {
    margin: 0 0 150px 0;
    &__title {
      margin: 0 0 40px 0;
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0 0 80px 0;
    &__title {
      margin: 0 0 20px 0;
      text-align: center;
    }
  }
}

.section {
  margin: 0 0 250px 0;
  position: relative;
  .small-section {
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__head {
    margin-bottom: 180px;
    &-txt {
      position: relative;
      z-index: 2;
    }
  }
  &__base-title {
    margin-bottom: 100px;
  }
  @include media-breakpoint-up(lg) {
    &__head {
      align-items: flex-start;
      &-title {
        margin-top: -0.1em;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__head {
      &-title {
        margin-top: -0.15em;
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    margin: 0 0 200px 0;
    &__head {
      margin-bottom: 150px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__base-title {
      margin-bottom: 80px;
    }
    &__head {
      margin-bottom: 100px;
      &-txt {
        &:first-child {
          margin-bottom: 40px
        }
        &:last-child {
          margin-top: 100px;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0 0 120px 0;
    &__base-title {
      margin-bottom: 60px;
      text-align: center;
    }
    &__head {
      margin-bottom: 70px;
      &-txt {
        &:first-child {
          margin-bottom: 30px
        }
        &:last-child {
          margin-top: 70px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .container {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}

.grid {
  display: flex;
  & > .row {
    margin-bottom: -34px;
    & > * {
      margin-bottom: 34px;
    }
  }
  @include media-breakpoint-down(sm) {
    & > .row {
      margin-bottom: -20px;
      & > * {
        margin-bottom: 20px;
      }
    }
  }
}