extends layout/layout

block variables
  -var title = home_title
  -var namespace = home_namespace;
  -var name = home_name;

block content
  section.section.homepage.screen
    .homepage-scene
      .homepage-scene__container
        img(src="./img/homescreen/bg.png", alt="bg").homepage-scene__bg
        .homepage-scene__layers 
          img(src="./img/homescreen/1.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/2.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/3.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/4.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/5.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/6.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/7.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/8.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/9.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/10.png", alt="bg").homepage-scene__layer
        .homepage-scene__triggers
          .homepage-scene__trigger 1
          .homepage-scene__trigger 2
          .homepage-scene__trigger 3
          .homepage-scene__trigger 4
          .homepage-scene__trigger 5
          .homepage-scene__trigger 6
          .homepage-scene__trigger 7
          .homepage-scene__trigger 8
          .homepage-scene__trigger 9
          .homepage-scene__trigger 10

    .homepage__container
      .homepage__top.container 
        p.homepage__label Компания<br> Декса
        h1.homepage__title Производитель электротехнических решений
      .homepage__bottom.container
        .row
          .order-xl-2.offset-xl-1.col-xl-7
            .items-slider
              .items-slider__container.container
                //arrows
                button(aria-label='prev slide').items-slider__arrow.items-slider__prev
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                button(aria-label='next slide').items-slider__arrow.items-slider__next 
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                //images
                .items-slider__images 
                  //image
                  .image.items-slider__image
                    img(data-src="./img/ddsd.png", alt="img").lazyload
                  //image
                  .image.items-slider__image
                    img(data-src="./img/Group 210.png", alt="img").lazyload
                  //image
                  .image.items-slider__image
                    img(data-src="./img/Group 208.png", alt="img").lazyload
                //slider
                .splide.items-slider__element
                  .splide__track
                    .splide__list
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Север-2
                        p Первый в России светильник с Возобновляемым ресурсом работы
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Компакт 1Ex
                        p Первый в России светильник с Возобновляемым ресурсом работы
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Новатор 1Ex
                        p Первый в России светильник с Возобновляемым ресурсом работы
                .items-slider__buttons
                  .d-none.d-lg-block
                    a(href=catalogue).button.button_style-1.items-slider__button 
                      span Посмотреть весь  каталог
                  .d-lg-none
                    a(href=catalogue).button.button_style-3.items-slider__button 
                      span Посмотреть весь  каталог
          
          .homepage__request.col-xl-4
            .container
              .row 
                .order-xl-2.col-xl-12
                  button.button.button_style-2 
                    span Оставить заявку
                .col-xl-12
                  p Анкерные кронштейны, монтажные и универсальные крюки производства EKF для крепления самонесущих изолированных

  section.section.advantages
    .container 
      .row.advantages__container
        .advantages-block.col-xl-5 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#lightning')
          h4 Разработки
          p Разрабатываем электротехнические решения под конкретные проекты, делаем шеф-монтаж и сервисное обслуживание

        .advantages-block.offset-xl-1.col-xl-5
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#clock')
          h4 Сроки
          p Производим в максимально короткие сроки. Минимальный срок производства – от 2х- недель
        .advantages-block.col-xl-5 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#slider')
          h4 Умное освещение
          p Настраиваем сценарии умного освещения для технологических процессов индивидуально для каждого завода
        .advantages-block.offset-xl-1.col-xl-5 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#experience')
          h4 Грандиозный опыт
          p Постоянно накапливаем новый опыт, работаем с EPC проектами, комплексным оснащением объектов строительтва ТЭК