extends layout/layout
block variables
  -var title = sitename+' - Главная'
block content

  section.section.homepage.screen
    .homepage-scene
      .homepage-scene__container
        img(src="./img/homescreen/bg.png", alt="bg").homepage-scene__bg
        .homepage-scene__layers 
          img(src="./img/homescreen/1.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/2.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/3.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/4.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/5.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/6.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/7.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/8.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/9.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/10.png", alt="bg").homepage-scene__layer
        .homepage-scene__triggers
          .homepage-scene__trigger 1
          .homepage-scene__trigger 2
          .homepage-scene__trigger 3
          .homepage-scene__trigger 4
          .homepage-scene__trigger 5
          .homepage-scene__trigger 6
          .homepage-scene__trigger 7
          .homepage-scene__trigger 8
          .homepage-scene__trigger 9
          .homepage-scene__trigger 10

      

    .container

