extends layout/layout

block variables
  -var title = home_title
  -var namespace = home_namespace;
  -var name = home_name;

block content
  section.section.homepage.screen
    .homepage-scene
      .homepage-scene__container
        img(src="./img/homescreen/bg.png", alt="bg").homepage-scene__bg
        .homepage-scene__layers 
          img(src="./img/homescreen/1.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/2.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/3.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/4.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/5.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/6.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/7.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/8.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/9.png", alt="bg").homepage-scene__layer
          img(src="./img/homescreen/10.png", alt="bg").homepage-scene__layer
        .homepage-scene__triggers
          .homepage-scene__trigger 1
          .homepage-scene__trigger 2
          .homepage-scene__trigger 3
          .homepage-scene__trigger 4
          .homepage-scene__trigger 5
          .homepage-scene__trigger 6
          .homepage-scene__trigger 7
          .homepage-scene__trigger 8
          .homepage-scene__trigger 9
          .homepage-scene__trigger 10

    .homepage__container
      .homepage__top.container 
        p.homepage__label Компания<br> Декса
        h1.homepage__title Производитель электротехнических решений
      .homepage__bottom.container
        .row
          .order-xl-2.offset-xl-1.col-xl-7
            .items-slider
              .items-slider__container.container
                //arrows
                button(aria-label='prev slide').items-slider__arrow.items-slider__prev
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                button(aria-label='next slide').items-slider__arrow.items-slider__next 
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                //images
                .items-slider__images 
                  //image
                  .items-slider__image
                    .image
                      img(data-src="./img/homeslider/1_1.png", alt="img").lazyload
                    .image.items-slider__image-light
                      img(data-src="./img/homeslider/1_2.png", alt="img").lazyload
                  //image
                  .items-slider__image
                    .image
                      img(data-src="./img/homeslider/2_1.png", alt="img").lazyload
                    .image.items-slider__image-light
                      img(data-src="./img/homeslider/2_2.png", alt="img").lazyload
                  //image
                  .items-slider__image
                    .image
                      img(data-src="./img/homeslider/3_1.png", alt="img").lazyload
                    .image.items-slider__image-light
                      img(data-src="./img/homeslider/3_2.png", alt="img").lazyload
                  
                //slider
                .splide.items-slider__element
                  .splide__track
                    .splide__list
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Север-2
                        p Первый в России светильник с Возобновляемым ресурсом работы
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Компакт 1Ex
                        p Первый в России светильник с Возобновляемым ресурсом работы
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Новатор 1Ex
                        p Первый в России светильник с Возобновляемым ресурсом работы
                .items-slider__buttons
                  .d-none.d-lg-block
                    a(href=catalogue).button.button_style-1.items-slider__button 
                      span Посмотреть весь  каталог
                  .d-lg-none
                    a(href=catalogue).button.button_style-3.items-slider__button 
                      span Посмотреть весь  каталог
          
          .homepage__request.col-xl-4
            .container
              .row 
                .order-xl-2.col-xl-12
                  a(href='#modal-form' data-modal='open').button.button_style-2 
                    span Оставить заявку
                .col-xl-12
                  p Анкерные кронштейны, монтажные и универсальные крюки производства EKF для крепления самонесущих изолированных

  section.section.advantages


    .container 
      .row.advantages__container
        .advantages-block.col-xl-5 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#lightning')
          h4 Разработки
          p Разрабатываем электротехнические решения под конкретные проекты, делаем шеф-монтаж и сервисное обслуживание

        .advantages-block.offset-xl-1.col-xl-5
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#clock')
          h4 Сроки
          p Производим в максимально короткие сроки. Минимальный срок производства – от 2х- недель
        .advantages-block.col-xl-5 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#slider')
          h4 Умное освещение
          p Настраиваем сценарии умного освещения для технологических процессов индивидуально для каждого завода
        .advantages-block.offset-xl-1.col-xl-5 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#experience')
          h4 Грандиозный опыт
          p Постоянно накапливаем новый опыт, работаем с EPC проектами, комплексным оснащением объектов строительтва ТЭК

  section.section.m-catalogue 

    .container 
      .row.m-catalogue__container
        .m-catalogue-item.col-6
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_1 Общепромышленное<br> освещение
            .m-catalogue-item__image.m-catalogue-item__image_1
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/1.png", alt="image").lazyload
                img(data-src="./img/catalogue/1_2.png", alt="image").lazyload
        .m-catalogue-item.col-6
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_2 Взрывозащищённые<br> светильники
            .m-catalogue-item__image.m-catalogue-item__image_2
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/2.png", alt="image").lazyload
                img(data-src="./img/catalogue/2_2.png", alt="image").lazyload
        .m-catalogue-item.col-6
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_3 Прожекторное<br> светильники
            .m-catalogue-item__image.m-catalogue-item__image_3
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/3.png", alt="image").lazyload
                img(data-src="./img/catalogue/3_2.png", alt="image").lazyload
        .m-catalogue-item.col-6
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_4 Заградительные огни
            .m-catalogue-item__image.m-catalogue-item__image_4
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/4.png", alt="image").lazyload
                img(data-src="./img/catalogue/4_2.png", alt="image").lazyload
        .m-catalogue-item.col-sm-6.col-md-5
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_5 Коммутационное<br> оборудование
            .m-catalogue-item__image.m-catalogue-item__image_5
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/5.png", alt="image").lazyload
        .m-catalogue-item.col-sm-6.col-md-7
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_6 Системы управления<br> и мониторинга<br> освещения
            .m-catalogue-item__image.m-catalogue-item__image_6
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/6.png", alt="image").lazyload
        .m-catalogue-item.col-12
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_7 Электрообогрев
            .m-catalogue-item__image.m-catalogue-item__image_7
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/7.png", alt="image").lazyload
        .m-catalogue-item.col-12
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_8 Щитовое оборудование
            .m-catalogue-item__image.m-catalogue-item__image_8
              .image.image_contain.js-3d__forward
                img(data-src="./img/catalogue/8.png", alt="image").lazyload

  section.section.about-text
    .about-text__light.about-text__light_1
    .about-text__light.about-text__light_2
    .container.about-text__container 
      .row 
        .about-text__block.offset-xl-1.col-xl-4
          h2.h1.about-text__title 50 000
          p.about-text__text осветительных констуркций в среднем на одном предприятии
        .about-text__block.offset-xl-2.col-xl-4
          h2.h1.about-text__title 2-5 млрд
          p.about-text__text рублей в год расходуется наоснащение предприятия осветительными конструкциями идругим электротехническим оборудованием

  section.section.about-preview
    .container 
      .section__head.row 
        .offset-xl-2.col-xl-7
          h3.section__head-title Компания DEXSA разработала взрывозащищенное осветительное оборудование с пожизненной гарантией и разборной конструкцией
        .offset-xl-1.col-xl-2
          p.section__head-txt Как минимизировать затраты в работе предприятия?
      .about-preview__container

        .about-preview-block
          .row
            span.about-preview-block__index.offset-xl-1.col-xl-1 01
            .about-preview-block__image.col-xl-3
              .image.image_contain
                img(src="./img/light1/1.png", alt="image")
            .about-preview-block__text.about-preview-block__text_1.offset-xl-2.col-xl-3
              p.h4 Замена элементов корпуса и комплекта уплотнителей

        .about-preview-block
          .row
            span.about-preview-block__index.offset-xl-1.col-xl-1 02
            .about-preview-block__image.col-xl-3
              .image.image_contain
                img(src="./img/light1/2.png", alt="image")
            .about-preview-block__text.about-preview-block__text_2.offset-xl-2.col-xl-3
              p.h4 Замена источника тока

        .about-preview-block
          .row
            span.about-preview-block__index.offset-xl-1.col-xl-1 03
            .about-preview-block__image.col-xl-3
              .image.image_contain
                img(src="./img/light1/3.png", alt="image")
                img(src="./img/light1/4.png", alt="image").about-preview-block__light
            .about-preview-block__text.about-preview-block__text_3.offset-xl-2.col-xl-3
              p.h4 Замена светодиодного модуля
  
  section.section.warranty-preview
    .section__head.container 
      .row 
        .offset-xl-2.col-xl-8
          h3.section__head-title В случае неисправности не нужно покупать новый светильник за полную стоимость, достаточно докупить комплектующие за 40% — «зип»

    .warranty-preview__container 
      .warranty-preview__image.image.image_contain
        img(src="./img/light2/1.png", alt="image")
        img(src="./img/light2/2.png", alt="image").warranty-preview__image-light
      .container 
        .row 
          .offset-xl-3.col-xl-4.warranty-preview__text 
            .h1.warranty-preview__top
              | +
              span.warranty-preview__index
                span 0
                span 1
                span 2
                span 3
                span 4
                span 5
              | лет
            p.warranty-preview__bottom Новый «зип» продлевает гарантию на светильник еще на 5 лет  

  section.section.clients 
    .container 
      .section__head
        .row 
          .col-xl-2
            p.section__head-txt Наши клиенты
          .col-xl-8
            h3.section__head-title Наше электротехническое оборудование установленно у крупнейших промышленных компаний России
      .clients__container 
        .clients__text.row 
          span.offset-xl-6.col-xl-auto единиц<br> оборудования<br> установлено:

        //block
        mixin block(href, val)
          .clients-block.row
            .clients-block__image.offset-xl-2.col-xl-3
              .image.image_contain 
                img(src=href, alt="image").lazyload
            .clients-block__value.offset-xl-3.col-xl-2
              .clients-block__value-item.h3=val
        +block('./img/clients/1.png', '5 430')
        +block('./img/clients/2.png', '2 567')
        +block('./img/clients/3.png', '2 340')
        +block('./img/clients/4.png', '1 534')
        +block('./img/clients/5.png', '1 500')
        +block('./img/clients/6.png', '1 200')
        +block('./img/clients/7.png', '531')

  include blocks/contacts-blocks
  