extends layout/layout

block variables
  -var title = sitename+' - Политика конфиденциальности'

block content

  section.section.section-head
    .container 
      h1 Политика конфиденциальности
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit quas autem iusto iure reiciendis esse debitis ex tenetur quidem perspiciatis. Pariatur sunt maiores iure id rerum voluptatibus ad architecto illo.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eum consectetur, ea at dicta natus, tenetur nam placeat, odio voluptatum minima eligendi eius culpa soluta tempora necessitatibus aliquid nobis odit.