extends layout/layout

block variables
  -var title = sitename+' - Наше производство'
  -var namespace = production_namespace

block content
  section.section.category-head.swiper
    .swiper-container
      .swiper-wrapper
        mixin slide(title, text, image)
          //slide
          .swiper-slide.screen.category-head__slide(data-touch-hover data-cursor-slide)
            .category-head__scene(data-parallax='0.2' data-parallax-top)
              .image.image_cover.image_mask-1
                img(data-src=image, alt="bg").swiper-lazy
            .container.category-head__container
              .category-head__content.row.stp
                h2.h1.category-head__title.col-lg-6=title
                p.category-head__text.col-lg-6=text
        +slide('Наше производство это:', 'Мы производим взрывозащищенные светодиодные светильники для всех классов взрывоопасных зон, различных конструктивных исполнений в зависимости от характера объекта.', './img/production/1.jpg')
        +slide('Инновации', 'Мы производим взрывозащищенные светодиодные светильники для всех классов взрывоопасных зон, различных конструктивных исполнений в зависимости от характера объекта.', './img/production/2.jpg')
        +slide('Решения', 'Мы производим взрывозащищенные светодиодные светильники для всех классов взрывоопасных зон, различных конструктивных исполнений в зависимости от характера объекта.', './img/production/3.jpg')
        +slide('Гарантия', 'Мы производим взрывозащищенные светодиодные светильники для всех классов взрывоопасных зон, различных конструктивных исполнений в зависимости от характера объекта.', './img/production/4.jpg')
        +slide('Складская программа', 'Мы производим взрывозащищенные светодиодные светильники для всех классов взрывоопасных зон, различных конструктивных исполнений в зависимости от характера объекта.', './img/production/5.jpg')
        
    .category-head__pagination.container 
      .swiper-pagination
    

  include blocks/contacts-blocks   