extends layout/layout

block variables
  -var title = vo_title
  -var namespace = vo_namespace;
  -var name = vo_name;

block content

  section.section.product-head.product-head_type-1.screen
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1

    .container.product-head__container
      .row.product-head__row
        .product-head__image.col-xl-5
          .product-head__image-wrapper
            .image.image_contain
              img(data-src="./img/products/Group 313.png", alt="image").lazyload
            .image.image_contain
              img(data-src="./img/products/Group 312.png", alt="image").lazyload
            
        .product-head__content.offset-xl-1.col-xl-6 
          h1.h2.product-head__item Взрывозащищённое освещение
          p.product-head__item Первый в России взрывозащищённый светодиодный светильник с возобновляемым ресурсом работы!
          a(href='#modal-form' data-modal='open').button.button_style-2.product-head__item 
            span Оставить заявку