extends layout/layout

block variables
  -var title = sitename+' - Взрывозащищенное освещение'
  -var namespace = vo_namespace;

block content
  section.section.product-head.product-head_type-1.screen.stp
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1
    .container.product-head__container
      .row.product-head__row
        h1.product-head__title.product-head__item.offset-lg-6.col-lg-6 Взрывозащищённое освещение
        .product-head__image.offset-3.offset-lg-0.col-9.col-lg-5
          .product-head__image-wrapper.product-head__image-wrapper_type-1
            .image.image_contain
              img(data-src="./img/products/Group 316.png", alt="image").lazyload
            .image.image_contain
              img(data-src="./img/products/Group 317.png", alt="image").lazyload
        .product-head__text.offset-lg-6.col-lg-6
          .row
            p.product-head__text.product-head__item.order-sm-2.order-lg-1.col-sm.col-md-8.col-lg-12 Первый в России взрывозащищённый светодиодный светильник с возобновляемым ресурсом работы!
            .order-sm-1.order-lg-2.col-sm-auto.col-md-4.col-lg-12
              a(href='#modal-form' data-modal='open').button.button_style-2.product-head__item 
                span Оставить заявку
                
  section.section.product-destination
    .container
      .row.product-destination__head
        h6.product-destination__title.col-xl-8.offset-xl-2 Предназначены для наружного и внутреннего освещения взрывоопасных зон всех классов помещений предприятий, а также объектов, где присутствует взрывоопасный газ и (или) горючая пыль
      .row.js-fade-blocks.product-destination__row
        .product-destination__block.js-fade-blocks__block.col-sm-6.offset-md-1.offset-lg-0.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 49 111")
            use(xlink:href='./img/icons/icons-sprite.svg#gasproduction')
          p Нефтегазовая отрасль
        .product-destination__block.js-fade-blocks__block.col-sm-6.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 86 73")
            use(xlink:href='./img/icons/icons-sprite.svg#atom')
          p Нефтехимическая отрасль
        .product-destination__block.js-fade-blocks__block.col-sm-6.offset-md-1.offset-lg-0.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 86 88")
            use(xlink:href='./img/icons/icons-sprite.svg#oilproduction')
          p Добыча , хранение и транспортировка нефти
        .product-destination__block.js-fade-blocks__block.col-sm-6.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 84 53")
            use(xlink:href='./img/icons/icons-sprite.svg#spikelet')
          p Объекты пищевой промышленности

  include blocks/product-block
  +block(
    'Компакт 1Ex', 
    'Самый компактный на рынке светильник с возобновляемым ресурсом работы',
    ['./img/products/1_1.png', './img/products/1_2.png', './img/products/1_3.png'],
    './docs/Prom-inn_A4_v3.pdf#page=7'
  )
  +block(
    'Новатор 1Ex', 
    'Самый компактный на рынке светильник с возобновляемым ресурсом работы',
    ['./img/products/2_1.png', './img/products/2_2.png', './img/products/2_3.png'],
    './docs/Prom-inn_A4_v3.pdf#page=11'
  )
  +block(
    'EXTREME-C 1Ex', 
    'Самый мощный',
    ['./img/products/3_1.png', './img/products/3_2.png', './img/products/3_3.png'],
    './docs/Prom-inn_A4_v3.pdf#page=14'
  )

  include blocks/contacts-blocks