section.section.contacts 
  .container 
    .section__head.row 
        .col-xl-2
          p.section__head-txt Контакты
        .col-xl-8
          h3.section__head-title Давайте встретимся и обсудим, где мы можем быть полезны вашему бизнесу с нашей технологией освещения
          p Оставьте контакты и мы вам перезвоним
        