section.section.contacts-block 
  .container 
    .section__head.contacts-block__head.row 
        .col-xl-2
          p.section__head-txt Контакты
        .col-xl-8
          h3.section__head-title Давайте встретимся и обсудим, где мы можем быть полезны вашему бизнесу с нашей технологией освещения
          h4 Оставьте контакты и мы вам перезвоним
    
    form.form
      .form__group.row
        .form__item.col-xl-3
          label.input
            span.input__title Имя
            input(type="text" name="name" data-validate='name' data-required).input__element
        .form__item.col-xl-3
          label.input
            span.input__title Номер телефона
            input(type="text" name="phone" data-validate='phone' data-required).input__element
        .form__item.col-xl-3
          label.input
            span.input__title Комментарий
            textarea(name="message" data-validate='message').input__element
        .form__submit.form-section__submit.col-xl-3
          button.button.button_style-2 
            span Оставить заявку
          p.form__message Нажимая кнопку “Отправить” вы соглашаетесь с условиями 
            a(href="privacy.html" rel='noopener' target='_blank') Политики конфиденциальности

    .contacts-block__info 
      .contacts-block-item.row  
        .contacts-block-item__label.col-xl-3 Номер телефона
        .contacts-block-item__text.col-xl-7   
          a(href="tel:+73232323233").h6.btn-link +7 323 232-3233
      
      .contacts-block-item.row  
        .contacts-block-item__label.col-xl-3 E-mail
        .contacts-block-item__text.col-xl-7
          a(href="mailto:email@gmail.com").h6.btn-link email@gmail.com

      .contacts-block-item.row  
        .contacts-block-item__label.col-xl-3 Офис
        .contacts-block-item__text.col-xl-7
          .h6 107078 г. Москва, Орликов переулок, 5, стр.1А

      .contacts-block-item.row  
        .contacts-block-item__label.col-xl-3 Завод
        .contacts-block-item__text.col-xl-7
          .h6 142715, Московская область, Ленинский район, сельское поселение Совхоз им. Ленина, территория Восточная Промзона, владение 3, стр. 1