//PRELOADER START
link(rel="stylesheet" href="./styles/preloader.css")

.preloader 
  svg(style='display:none;')
    symbol#icon(fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 159 126')
      path(d='M49.786.073c15.72 0 31.44-.2 47.16.06a60.44 60.44 0 0138.76 14.55 60.006 60.006 0 0114.91 18.14 64.18 64.18 0 016.85 21.25c2.53 18.36-2.3 34.63-14.11 48.8-10.22 12.26-23.42 19.33-39.16 21.72-2.92.45-3 .4-2.94-2.58v-7.68a73.3 73.3 0 00-.89-11.46c-.22-1.76 0-2 1.68-2.27a36.173 36.173 0 0019.13-9 37.558 37.558 0 0012.4-22.07c2.26-13.26-1.42-24.78-10.86-34.36a36.929 36.929 0 00-22.41-11 74.807 74.807 0 00-9-.34h-63.66c-1.19.05-1.31.23-.95 1.39a34 34 0 0010.75 15.87c6.38 5.47 13.68 9.57 20.88 13.82a139.971 139.971 0 0117.99 12.09c9.69 8 16.6 17.76 19.52 30.06a61.996 61.996 0 011.89 15.31c0 3.68 0 7.36.16 11 .08 1.72-.22 1.93-1.93 1.93H6.926c-1.83-.07-2.27-.55-2.15-2.34.75-11.16 10.4-20.69 21.61-21.46 2.8-.19 5.6-.15 8.39-.16h35.64c2 0 2 0 1.34-1.8-2.19-6.02-6.21-10.64-11.15-14.54-6.54-5.2-13.85-9.2-21-13.47a135.706 135.706 0 01-18-12.35c-11.31-9.55-18.5-21.44-20.68-36.18-1.06-7.2-.92-14.4-.92-21.59 0-.97.49-1.41 1.42-1.35h48.36v.01zm2.7 4.33H5.806c-.92 0-1.52.13-1.51 1.28 0 6 0 12 1 17.93 2.15 12.74 8.42 23.08 18.07 31.49 6 5.26 12.77 9.47 19.62 13.53 6.85 4.06 13.7 8 20 12.85 6 4.71 10.67 10.41 13.24 17.7a4.578 4.578 0 01-3.36 6.37 8.604 8.604 0 01-2 .16h-42.71a19.462 19.462 0 00-18.3 13.29c-.63 2-.62 2 1.44 2h80.27c.28-.015.56-.015.84 0 .88.07 1.18-.32 1.19-1.2a92.199 92.199 0 00-1.59-20.49c-2.48-11.57-8.7-20.85-17.63-28.4a125 125 0 00-17-11.64c-6.63-4-13.36-7.74-19.52-12.42-7.07-5.37-12.63-11.85-15.25-20.53-1.16-3.88.85-6.83 4.91-6.81 23.19.11 46.39-.32 69.58.22a40.55 40.55 0 0128.4 12.15c9.68 9.55 14 21.23 12.77 34.8a41.903 41.903 0 01-12 25.92 41.252 41.252 0 01-20.13 11.54c-1 .26-1.23.7-1.08 1.68.606 4.356.774 8.761.5 13.15 0 1 .19 1.11 1 .93a56.355 56.355 0 0010.15-2.9c14.85-6 25.72-16.29 32.3-31a57.442 57.442 0 005-23.28 56.62 56.62 0 00-1.95-14.47 56.733 56.733 0 00-22.86-33.25 55.368 55.368 0 00-32-10.56c-14.88-.15-29.8-.04-44.71-.04z')
  
  svg.preloader__background
    use(xlink:href='#icon')

  .preloader__content
    svg.preloader__icon
      use(xlink:href='#icon')
    img(src="./img/preloader/shadow.png", alt="shadow").preloader__shadow

script(src="./scripts/preloader.js")
//PRELOADER END
