-var sitename = 'Dexsa'

-var home = './'
-var home_namespace = 'home'
-var home_title = sitename+' - Производитель электротехнических решений'

-var about = '#'
-var about_namespace = 'about'
-var about_title = sitename+' - О компании'

-var production = '#'
-var production_namespace = 'production'
-var production_title = sitename+' - Производство'

-var catalogue = './catalogue.html'
-var catalogue_namespace = 'catalogue'
-var catalogue_title = sitename+' - Продукция'

-var certificates = '#'
-var certificates_namespace = 'certificates'
-var certificates_title = sitename+' - Сертификаты и аккредитации'

-var references = '#'
-var references_namespace = 'references'
-var references_title = sitename+' - Референс лист'

-var contacts = '#'
-var contacts_namespace = 'contacts'
-var contacts_title = sitename+' - Контакты'

-var ov = './ov.html'
-var ov_namespace = 'product'
-var ov_title = sitename+' - Общепромышленное освещение'

-var vo = './vo.html'
-var vo_namespace = 'product'
-var vo_title = sitename+' - Взрывозащищенное освещение'

-var pv = './pv.html'
-var pv_namespace = 'product'
-var pv_title = sitename+' - Прожекторное освещение'

-var zv = './zv.html'
-var zv_namespace = 'product'
-var zv_title = sitename+' - Заградительные огни'