-var sitename = 'Dexsa'

-var base_val = '/Dexsa/build'
-var base = base_val?base_val:'';

-var home = base+'/'
-var o_kompanii = base+'/o-kompanii.html'
-var proizvodstvo = base+'/proizvodstvo.html'
-var produkcziya = base+'/produkcziya.html'
-var sertifikaty_i_akkreditaczii = base+'/sertifikaty-i-akkreditaczii.html'
-var sistemy_upravleniya_i_monitoringa_osveshheniya = base+'/sistemy-upravleniya-i-monitoringa-osveshheniya.html'
-var obshhepromyshhlennoe_osveshhenie = base+'/obshhepromyshhlennoe-osveshhenie.html'
-var vzryvozashhishhyonnoe_osveshhenie = base+'/vzryvozashhishhyonnoe-osveshhenie.html'
-var ulichnoe_osveshhenie = base+'/ulichnoe-osveshhenie.html'
-var zagraditelnye_ogni = base+'/zagraditelnye-ogni.html'
-var kommutaczionnoe_oborudovanie = base+'/kommutaczionnoe-oborudovanie.html'
-var shhitovoe_oborudovanie = base+'/shhitovoe-oborudovanie.html'
-var elektroobogrev = base+'/elektroobogrev.html'
-var referens_list = base+'/referens-list.html'
-var kontakty = base+'/kontakty.html'
-var politika_konfidenczialnosti = base+'/politika-konfidenczialnosti.html'