-var sitename = 'Dexsa'

-var home = './index.html'
-var home_namespace = 'home'
-var home_name = 'home'
-var home_title = sitename+' - Производитель электротехнических решений'

-var about = '/'
-var about_namespace = 'about'
-var about_name = 'about'
-var about_title = sitename+' - О компании'

-var production = '/'
-var production_namespace = 'production'
-var production_name = 'production'
-var production_title = sitename+' - Производство'

-var catalogue = '/'
-var catalogue_namespace = 'catalogue'
-var catalogue_name = 'catalogue'
-var catalogue_title = sitename+' - Продукция'

-var certificates = '/'
-var certificates_namespace = 'certificates'
-var certificates_name = 'certificates'
-var certificates_title = sitename+' - Сертификаты и аккредитации'

-var references = '/'
-var references_namespace = 'references'
-var references_name = 'references'
-var references_title = sitename+' - Референс лист'

-var contacts = '/'
-var contacts_namespace = 'contacts'
-var contacts_name = 'contacts'
-var contacts_title = sitename+' - Контакты'

-var vo = 'vo.html'
-var vo_namespace = 'product'
-var vo_name = 'vo'
-var vo_title = sitename+' - Взрывозащищенное освещение'