-var sitename = 'Dexsa'

-var base_val = '/Dexsa/build'
-var base = base_val?base_val:'';

-var home = base+'/'
-var home_namespace = 'home'

-var about = base+'#'
-var about_namespace = 'about'

-var production = base+'#'
-var production_namespace = 'production'

-var catalogue = base+'/catalogue.html'
-var catalogue_namespace = 'catalogue'

-var certificates = base+'#'
-var certificates_namespace = 'certificates'

-var references = base+'#'
-var references_namespace = 'references'

-var sumo = base+'/sumo.html'
-var sumo_namespace = 'sumo'

-var contacts = base+'#'
-var contacts_namespace = 'contacts'

-var ov = base+'/ov.html'
-var ov_namespace = 'product'

-var vo = base+'/vo.html'
-var vo_namespace = 'product'

-var pv = base+'/pv.html'
-var pv_namespace = 'product'

-var zv = base+'/zv.html'
-var zv_namespace = 'product'